.Button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  border: 1px solid transparent;
  border-radius: 0.3em;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  line-height: 2.3em;
  height: 2.4em;
  margin-bottom: 0;
  overflow: hidden;
  padding: 0 1em;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-appearance: none;
}

.Button:hover,
.Button:focus,
.Button.focus,
.Button.is-focus {
  color: #1385e5;
  text-decoration: none;
}

.Button:active,
.Button.active,
.Button.is-active {
  background-image: none;
  outline: 0;
}

.Button.disabled,
.Button[disabled] {
  opacity: .4;
  pointer-events: none;
}

.Button--default {
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffeaeaea', GradientType=0);
  border: 1px solid #ccc;
  border-color: #ccc #bdbdbd #adadad;
  color: #333;
  text-shadow: 0 1px 0 white;
}

.Button--default:hover {
  background-image: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #eee 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #eee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #bfbfbf #bfbfbf #b3b3b3;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: #333;
}

.Button--default:focus {
  border-color: #1385e5;
  box-shadow: 0 0 0 3px rgba(19, 133, 229, 0.1);
  color: #333;
  outline: none;
}

.Button--default.is-active,
.Button--default:active {
  background: #e6e6e6;
  border-color: #b3b3b3;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
}

.Button--default.is-active:focus:not(:active) {
  border-color: #1385e5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(19, 133, 229, 0.1);
}

.Button--default.disabled,
.Button--default[disabled] {
  background-color: #f3f3f3;
}

.Button--default-primary {
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffeaeaea', GradientType=0);
  border: 1px solid #ccc;
  border-color: #ccc #bdbdbd #adadad;
  color: #1385e5;
}

.Button--default-primary:hover {
  background-image: -webkit-linear-gradient(top, #208fec 0%, #117ad2 100%);
  background-image: -o-linear-gradient(top, #208fec 0%, #117ad2 100%);
  background-image: linear-gradient(to bottom, #208fec 0%, #117ad2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff208fec', endColorstr='#ff117ad2', GradientType=0);
  border-color: #1175c9 #0e64ac #0c5490;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
}

.Button--default-primary:focus {
  // border-color: #1175c9 #0e64ac #0c5490;
  // box-shadow: 0 0 0 3px rgba(19, 133, 229, 0.25);
  // color: white;
  // color: #1385e5;
  // outline: none;
  @extend .primary-focus;
}

.Button--default-primary:hover:focus {
  color: white;
}

.Button--default-primary:active {
  background-color: #117ad2;
  background-image: none;
  border-color: #0c5490 #0e64ac #1175c9;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
}

.Button--default-primary.disabled,
.Button--default-primary[disabled] {
  background-color: #f3f3f3;
}

.Button--default-success {
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffeaeaea', GradientType=0);
  border: 1px solid #ccc;
  border-color: #ccc #bdbdbd #adadad;
  color: #34c240;
}

.Button--default-success:hover {
  background-image: -webkit-linear-gradient(top, #3fcc4b 0%, #30b23b 100%);
  background-image: -o-linear-gradient(top, #3fcc4b 0%, #30b23b 100%);
  background-image: linear-gradient(to bottom, #3fcc4b 0%, #30b23b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3fcc4b', endColorstr='#ff30b23b', GradientType=0);
  border-color: #2eaa38 #279230 #217a28;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
}

.Button--default-success:focus {
  border-color: #2eaa38 #279230 #217a28;
  box-shadow: 0 0 0 3px rgba(52, 194, 64, 0.25);
  color: white;
  color: #34c240;
  outline: none;
}

.Button--default-success:hover:focus {
  color: white;
}

.Button--default-success:active {
  background-color: #30b23b;
  background-image: none;
  border-color: #217a28 #279230 #2eaa38;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
}

.Button--default-success.disabled,
.Button--default-success[disabled] {
  background-color: #f3f3f3;
}

.Button--default-warning {
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffeaeaea', GradientType=0);
  border: 1px solid #ccc;
  border-color: #ccc #bdbdbd #adadad;
  color: #fa9f47;
}

.Button--default-warning:hover {
  background-image: -webkit-linear-gradient(top, #fba95b 0%, #f99533 100%);
  background-image: -o-linear-gradient(top, #fba95b 0%, #f99533 100%);
  background-image: linear-gradient(to bottom, #fba95b 0%, #f99533 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffba95b', endColorstr='#fff99533', GradientType=0);
  border-color: #f98f29 #f8800b #df7106;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
}

.Button--default-warning:focus {
  border-color: #f98f29 #f8800b #df7106;
  box-shadow: 0 0 0 3px rgba(250, 159, 71, 0.25);
  color: white;
  color: #fa9f47;
  outline: none;
}

.Button--default-warning:hover:focus {
  color: white;
}

.Button--default-warning:active {
  background-color: #f99533;
  background-image: none;
  border-color: #df7106 #f8800b #f98f29;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
}

.Button--default-warning.disabled,
.Button--default-warning[disabled] {
  background-color: #f3f3f3;
}

.Button--default-danger {
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffeaeaea', GradientType=0);
  border: 1px solid #ccc;
  border-color: #ccc #bdbdbd #adadad;
  color: #d64242;
}

.Button--default-danger:hover {
  background-image: -webkit-linear-gradient(top, #da5353 0%, #d23131 100%);
  background-image: -o-linear-gradient(top, #da5353 0%, #d23131 100%);
  background-image: linear-gradient(to bottom, #da5353 0%, #d23131 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffda5353', endColorstr='#ffd23131', GradientType=0);
  border-color: #cd2c2c #b42727 #9b2222;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
}

.Button--default-danger:focus {
  border-color: #cd2c2c #b42727 #9b2222;
  box-shadow: 0 0 0 3px rgba(214, 66, 66, 0.25);
  color: white;
  color: #d64242;
  outline: none;
}

.Button--default-danger:hover:focus {
  color: white;
}

.Button--default-danger:active {
  background-color: #d23131;
  background-image: none;
  border-color: #9b2222 #b42727 #cd2c2c;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
}

.Button--default-danger.disabled,
.Button--default-danger[disabled] {
  background-color: #f3f3f3;
}

.Button--primary {
  background-image: -webkit-linear-gradient(top, #2591ed 0%, #1177cd 100%);
  background-image: -o-linear-gradient(top, #2591ed 0%, #1177cd 100%);
  background-image: linear-gradient(to bottom, #2591ed 0%, #1177cd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2591ed', endColorstr='#ff1177cd', GradientType=0);
  background-color: #1385e5;
  border-color: #1177cd #0f6ab6 #0d5c9e;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: 400;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.Button--primary:hover,
.Button--primary:focus,
.Button--primary.focus {
  background-image: -webkit-linear-gradient(top, #3c9def 0%, #1385e5 100%);
  background-image: -o-linear-gradient(top, #3c9def 0%, #1385e5 100%);
  background-image: linear-gradient(to bottom, #3c9def 0%, #1385e5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c9def', endColorstr='#ff1385e5', GradientType=0);
  border-color: #1385e5 #1177cd #0f6ab6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
  outline: none;
}

.Button--primary:focus,
.Button--primary.focus {
  box-shadow: 0 0 0 3px rgba(19, 133, 229, 0.25);
}

.Button--primary:active,
.Button--primary.active {
  background-color: #117ad2;
  background-image: none;
  border-color: #0d5c9e #0f6ab6 #1177cd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.Button--success {
  background-image: -webkit-linear-gradient(top, #43cd4f 0%, #2fae39 100%);
  background-image: -o-linear-gradient(top, #43cd4f 0%, #2fae39 100%);
  background-image: linear-gradient(to bottom, #43cd4f 0%, #2fae39 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff43cd4f', endColorstr='#ff2fae39', GradientType=0);
  background-color: #34c240;
  border-color: #2fae39 #299a33 #24862c;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: 400;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.Button--success:hover,
.Button--success:focus,
.Button--success.focus {
  background-image: -webkit-linear-gradient(top, #57d261 0%, #34c240 100%);
  background-image: -o-linear-gradient(top, #57d261 0%, #34c240 100%);
  background-image: linear-gradient(to bottom, #57d261 0%, #34c240 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff57d261', endColorstr='#ff34c240', GradientType=0);
  border-color: #34c240 #2fae39 #299a33;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
  outline: none;
}

.Button--success:focus,
.Button--success.focus {
  box-shadow: 0 0 0 3px rgba(52, 194, 64, 0.25);
}

.Button--success:active,
.Button--success.active {
  background-color: #30b23b;
  background-image: none;
  border-color: #24862c #299a33 #2fae39;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.Button--warning {
  background-image: -webkit-linear-gradient(top, #fbac60 0%, #f9922e 100%);
  background-image: -o-linear-gradient(top, #fbac60 0%, #f9922e 100%);
  background-image: linear-gradient(to bottom, #fbac60 0%, #f9922e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbac60', endColorstr='#fff9922e', GradientType=0);
  background-color: #fa9f47;
  border-color: #f9922e #f98515 #ee7806;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: 400;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.Button--warning:hover,
.Button--warning:focus,
.Button--warning.focus {
  background-image: -webkit-linear-gradient(top, #fbb979 0%, #fa9f47 100%);
  background-image: -o-linear-gradient(top, #fbb979 0%, #fa9f47 100%);
  background-image: linear-gradient(to bottom, #fbb979 0%, #fa9f47 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb979', endColorstr='#fffa9f47', GradientType=0);
  border-color: #fa9f47 #f9922e #f98515;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
  outline: none;
}

.Button--warning:focus,
.Button--warning.focus {
  box-shadow: 0 0 0 3px rgba(250, 159, 71, 0.25);
}

.Button--warning:active,
.Button--warning.active {
  background-color: #f99533;
  background-image: none;
  border-color: #ee7806 #f98515 #f9922e;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.Button--danger {
  background-image: -webkit-linear-gradient(top, #db5757 0%, #d12d2d 100%);
  background-image: -o-linear-gradient(top, #db5757 0%, #d12d2d 100%);
  background-image: linear-gradient(to bottom, #db5757 0%, #d12d2d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb5757', endColorstr='#ffd12d2d', GradientType=0);
  background-color: #d64242;
  border-color: #d12d2d #bc2929 #a72424;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: 400;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.Button--danger:hover,
.Button--danger:focus,
.Button--danger.focus {
  background-image: -webkit-linear-gradient(top, #df6c6c 0%, #d64242 100%);
  background-image: -o-linear-gradient(top, #df6c6c 0%, #d64242 100%);
  background-image: linear-gradient(to bottom, #df6c6c 0%, #d64242 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdf6c6c', endColorstr='#ffd64242', GradientType=0);
  border-color: #d64242 #d12d2d #bc2929;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
  outline: none;
}

.Button--danger:focus,
.Button--danger.focus {
  box-shadow: 0 0 0 3px rgba(214, 66, 66, 0.25);
}

.Button--danger:active,
.Button--danger.active {
  background-color: #d23131;
  background-image: none;
  border-color: #a72424 #bc2929 #d12d2d;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.Button--hollow-primary {
  background: none;
  border-color: #71b5ef;
  color: #1385e5;
}

.Button--hollow-primary:hover,
.Button--hollow-primary:focus {
  background-color: #f2f7fc;
  background-image: none;
  border-color: #439de9;
  color: #1385e5;
  outline: none;
}

.Button--hollow-primary:focus,
.Button--hollow-primary.focus {
  box-shadow: 0 0 0 3px rgba(113, 181, 239, 0.1);
}

.Button--hollow-primary:active {
  background-color: rgba(113, 181, 239, 0.2);
  border-color: #1a85df;
  box-shadow: none;
}

.Button--hollow-success {
  background: none;
  border-color: #84da8c;
  color: #34c240;
}

.Button--hollow-success:hover,
.Button--hollow-success:focus {
  background-color: #f3faf4;
  background-image: none;
  border-color: #5dce67;
  color: #34c240;
  outline: none;
}

.Button--hollow-success:focus,
.Button--hollow-success.focus {
  box-shadow: 0 0 0 3px rgba(132, 218, 140, 0.1);
}

.Button--hollow-success:active {
  background-color: rgba(132, 218, 140, 0.2);
  border-color: #3abe45;
  box-shadow: none;
}

.Button--hollow-warning {
  background: none;
  border-color: #fbc590;
  color: #fa9f47;
}

.Button--hollow-warning:hover,
.Button--hollow-warning:focus {
  background-color: #fdf8f4;
  background-image: none;
  border-color: #faab5e;
  color: #fa9f47;
  outline: none;
}

.Button--hollow-warning:focus,
.Button--hollow-warning.focus {
  box-shadow: 0 0 0 3px rgba(251, 197, 144, 0.1);
}

.Button--hollow-warning:active {
  background-color: rgba(251, 197, 144, 0.2);
  border-color: #f8912d;
  box-shadow: none;
}

.Button--hollow-danger {
  background: none;
  border-color: #e68d8d;
  color: #d64242;
}

.Button--hollow-danger:hover,
.Button--hollow-danger:focus {
  background-color: #fbf4f4;
  background-image: none;
  border-color: #dc6363;
  color: #d64242;
  outline: none;
}

.Button--hollow-danger:focus,
.Button--hollow-danger.focus {
  box-shadow: 0 0 0 3px rgba(230, 141, 141, 0.1);
}

.Button--hollow-danger:active {
  background-color: rgba(230, 141, 141, 0.2);
  border-color: #d33939;
  box-shadow: none;
}

.Button--link {
  color: #1385e5;
  font-weight: normal;
}

.Button--link,
.Button--link:active,
.Button--link.active,
.Button--link[disabled],
fieldset[disabled] .Button--link {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.Button--link,
.Button--link:hover,
.Button--link:focus,
.Button--link:active {
  border-color: transparent;
  outline: none;
}

.Button--link:hover,
.Button--link:focus {
  background-color: transparent;
  color: #3c9def;
  text-decoration: underline;
}

.Button--link-text {
  color: #333;
  font-weight: normal;
}

.Button--link-text,
.Button--link-text:active,
.Button--link-text.active,
.Button--link-text[disabled],
fieldset[disabled] .Button--link-text {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.Button--link-text,
.Button--link-text:hover,
.Button--link-text:focus,
.Button--link-text:active {
  border-color: transparent;
  outline: none;
}

.Button--link-text:hover,
.Button--link-text:focus {
  background-color: transparent;
  color: #1385e5;
  text-decoration: underline;
}

.Button--link-primary {
  color: #1385e5;
  font-weight: normal;
}

.Button--link-primary,
.Button--link-primary:active,
.Button--link-primary.active,
.Button--link-primary[disabled],
fieldset[disabled] .Button--link-primary {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.Button--link-primary,
.Button--link-primary:hover,
.Button--link-primary:focus,
.Button--link-primary:active {
  border-color: transparent;
  outline: none;
}

.Button--link-primary:hover,
.Button--link-primary:focus {
  background-color: transparent;
  color: #1385e5;
  text-decoration: underline;
}

.Button--link-success {
  color: #34c240;
  font-weight: normal;
}

.Button--link-success,
.Button--link-success:active,
.Button--link-success.active,
.Button--link-success[disabled],
fieldset[disabled] .Button--link-success {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.Button--link-success,
.Button--link-success:hover,
.Button--link-success:focus,
.Button--link-success:active {
  border-color: transparent;
  outline: none;
}

.Button--link-success:hover,
.Button--link-success:focus {
  background-color: transparent;
  color: #34c240;
  text-decoration: underline;
}

.Button--link-warning {
  color: #fa9f47;
  font-weight: normal;
}

.Button--link-warning,
.Button--link-warning:active,
.Button--link-warning.active,
.Button--link-warning[disabled],
fieldset[disabled] .Button--link-warning {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.Button--link-warning,
.Button--link-warning:hover,
.Button--link-warning:focus,
.Button--link-warning:active {
  border-color: transparent;
  outline: none;
}

.Button--link-warning:hover,
.Button--link-warning:focus {
  background-color: transparent;
  color: #fa9f47;
  text-decoration: underline;
}

.Button--link-danger {
  color: #d64242;
  font-weight: normal;
}

.Button--link-danger,
.Button--link-danger:active,
.Button--link-danger.active,
.Button--link-danger[disabled],
fieldset[disabled] .Button--link-danger {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.Button--link-danger,
.Button--link-danger:hover,
.Button--link-danger:focus,
.Button--link-danger:active {
  border-color: transparent;
  outline: none;
}

.Button--link-danger:hover,
.Button--link-danger:focus {
  background-color: transparent;
  color: #d64242;
  text-decoration: underline;
}

.Button--link-cancel {
  color: #999;
  font-weight: normal;
}

.Button--link-cancel,
.Button--link-cancel:active,
.Button--link-cancel.active,
.Button--link-cancel[disabled],
fieldset[disabled] .Button--link-cancel {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.Button--link-cancel,
.Button--link-cancel:hover,
.Button--link-cancel:focus,
.Button--link-cancel:active {
  border-color: transparent;
  outline: none;
}

.Button--link-cancel:hover,
.Button--link-cancel:focus {
  background-color: transparent;
  color: #d64242;
  text-decoration: underline;
}

.Button--link-delete {
  color: #999;
  font-weight: normal;
}

.Button--link-delete,
.Button--link-delete:active,
.Button--link-delete.active,
.Button--link-delete[disabled],
fieldset[disabled] .Button--link-delete {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.Button--link-delete,
.Button--link-delete:hover,
.Button--link-delete:focus,
.Button--link-delete:active {
  border-color: transparent;
  outline: none;
}

.Button--link-delete:hover,
.Button--link-delete:focus {
  background-color: transparent;
  color: #d64242;
  text-decoration: underline;
}

.Button--link-delete:hover,
.Button--link-delete:focus {
  background-image: -webkit-linear-gradient(top, #da5353 0%, #d23131 100%);
  background-image: -o-linear-gradient(top, #da5353 0%, #d23131 100%);
  background-image: linear-gradient(to bottom, #da5353 0%, #d23131 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffda5353', endColorstr='#ffd23131', GradientType=0);
  background-color: #d64242;
  border-color: #d23131 #c52b2b #b42727;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
  text-decoration: none;
}

.Button--link-delete:focus {
  box-shadow: 0 0 0 3px rgba(214, 66, 66, 0.25);
  outline: none;
}

.Button--link-delete:active {
  background-color: #d23131;
  background-image: none !important;
  border-color: #b42727 #c52b2b #c52b2b;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
}

.Button--lg {
  font-size: 1.25rem;
}

.Button--sm {
  font-size: 0.9rem;
}

.Button--xs {
  font-size: 0.8rem;
  line-height: 1.9;
  padding-left: .66em;
  padding-right: .66em;
}

.Button--block {
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.ButtonGroup {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.ButtonGroup>.Button {
  border-radius: 0;
  float: left;
  margin-left: -1px;
}

.ButtonGroup>.Button:first-child {
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  margin-left: 0;
}

.ButtonGroup>.Button:last-child {
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.ButtonGroup>.Button:hover,
.ButtonGroup>.Button:active,
.ButtonGroup>.Button:focus {
  position: relative;
}

.ButtonGroup>.Button:focus {
  z-index: 1;
}

.Button>.octicon:first-child {
  margin-right: 0.5em;
}

.Button>.octicon:last-child {
  margin-left: 0.5em;
}

.Button>.octicon:only-child {
  margin-left: 0;
  margin-right: 0;
}
